    <footer>
        <div class="content">
        <section class="content" style="width: 220px; vertical-align: top;">
            <span class="adresse">Kontakt</span>
            <p>Pizerria Romatnica<br>
            Hans-Böckler Str. 10<br>
            40764 Langenfeld
            </p>
            <span class="tel">Telelefon:</span>
            <p>0123 456 789 0</p>
            <span class="fax">Fax:</span>
            <p>0123 456 789 1</p>
            <span class="mail">eMail:</span>
            <p class="mail">test@test.de</p>
        </section >
        <section class="content" style="width:400px; ">
            <div id="map" style="border: 1px solid darkGray;height: 250px; overflow-x: hidden; overflow-y: hidden; position: relative;"></div>
        </section>
        <section class="content" style="width: 420px; vertical-align: top;" >
            <dl class="margin040">
                <dt><span>Öffnungs &AMP Lieferzeiten</span></dt>
                <dd><span>Montag</span> 11.30 - 14.30 und 17.00-23.00</dd>
                <dd><span>Dienstag</span> 11.30 - 14.30 und 17.00-23.00</dd>
                <dd><span>Mittowch</span> 11.30 - 14.30 und 17.00-23.00</dd>
                <dd><span>Donnerstag</span> 11.30 - 14.30 und 17.00-23.00</dd>
                <dd><span>Freitag</span> 11.30 - 14.30 und 17.00-23.00</dd>
                <dd class="weekend"><span>Samstag</span>17.00-23.00</dd>
                <dd class="weekend"><span>Sontag &AMP Feiertag</span>17.00-23.00</dd>
            </dl>
        </section>
        </div>
        <div id="copyright">
            <p>Copyright © Romantica All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>