<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Pizza Romantica</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
  <!-- end CSS-->

</head>

<body>
    <header>
        <div class="content">
            <a href="#"><img src="img/logo.png" alt="logo" id="logo"></a>
            <div id="slider">
                <img src='img/slider/img1.jpg'>
            </div>
            <nav>
                <ul id="nav">
                    <li><a href="index.html">Startseite</a></li>
                    <li><a href="index.php?page=mainAction&spies=pizza">Menu</a></li>
                    {if isset($admin)}
                    <li><a href="add_category.html">Eine Kategorie hinzufügen</a></li>
                    <li><a href="index.php?page=export&admin=true">Export XML</a></li>
                    <li><a href="index.php?page=import&admin=true">Import XML</a></li>
                    {/if}
                </ul>
            </nav>
        </div>
    </header>
