{include file='../layout/header.tpl'}
    <div id="main" class="content" role="main">
        <section class="main">
            <form action="add_category.html" method="POST">
                <h2>Wie soll die Kategorie heißen?</h2>
                <p>
                    <label for="name">Name der Kategorie: </label>
                    <input type="text" name="name" />
                    <label for="picture">Name der Bilddatei: </label>
                    <input type="text" name="picture" />
                </p>
                <p>
                    <input type="submit" name="submit" />
                </p>
            </form>
        </section>
    </div>
{include file='../layout/footer.tpl'}