{include file='../layout/header.tpl'}
    <div id="main" class="content" role="main">
        <section class="main">
            <form action="index.php?page=uploadProductXML&admin=true" enctype="multipart/form-data" method="POST">
                <h2>Wählen sie unten Ihre Upload Datei!</h2>
                <p>
                    <input type="hidden" name="MAX_FILE_SIZE" value="30000000" />
                </p>
                <p> Diese Datei hochladen: <input type="file" name="file_upload" /></p>
                <p>
                    <input type="submit" name="submit" />
                </p>
            </form>
        </section>
    </div>
{include file='../layout/footer.tpl'}